/* ///////// typography /////////// */
body, textarea, input[type="text"], input[type="password"], input.text, input.title, textarea, select
{
	font-family: Georgia, serif;
	font-size: 10pt;
}
textarea.code, input.code
{
	font-family: Courier, sans;
	font-size: 9pt;
}

h1 {
	font-size:2em;
	font-weight:normal;
	margin:0 0;
}

h2 {
	font-size:1.2em;
	font-weight:normal;
	margin:0 0;
}

h3 {
	font-size: 1em;
	font-weight:bold;
	margin:0 0 0 2px;
}

/* ///////// global layout /////////// */
body, html
{
	width: 100%;
}
#outerContainer
{
	position: relative;
	min-width: 1018px;
}
#container
{
	position: absolute;
	left: 50%;
	width: 1018px;
	margin-left: -509px;
}
#editor 
{
	background-color:#ddd;
}
.frame 
{	
	margin: 3px 0 8px 8px;
	float: left;
	position: relative;
}
.clear
{
	clear:both
}
/* ///////// buttons /////////// */
.button
{
	border: 1px #666 solid;
	line-height: 1px;
	padding-bottom: 4px;
	height: 19px;
	text-align: center;
	background-color: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000));
	background-image: -webkit-linear-gradient(top, #555, #000);
	background-image: -moz-linear-gradient(top, #555, #000);
	background-image: -ms-linear-gradient(top, #555, #000);
	background-image: -o-linear-gradient(top, #555, #000);
	background-image: linear-gradient(top, #555, #000);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#555555', endColorstr='#000000');
	color: #eee;
}
.button:hover 
{
	border: 1px #5f9191 solid;
	background-color: #75b2b2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3F83FF), to(#286BAA));
	background-image: -webkit-linear-gradient(top, #3F83FF, #286BAA);
	background-image: -moz-linear-gradient(top, #3F83FF, #286BAA);
	background-image: -ms-linear-gradient(top, #3F83FF, #286BAA);
	background-image: -o-linear-gradient(top, #3F83FF, #286BAA);
	background-image: linear-gradient(top, #3F83FF, #286BAA);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#3F83FF', endColorstr='#286BAA');
	color: #fff;
}
/* ///////// tabs /////////// */
.tabs
{
	position: absolute;
    right: 0;
    top: 4px;
    /*text-align: right;*/
}
.tabs a
{
	/*display: block;*/
	background: #bbb;
	padding: 3px 4px 2px 4px;
	
	text-decoration: none;
	color: #000;
	border: 1px solid #bbb;
}
.tabs a:hover
{
	/*display: block;*/
	background: #eee;
	padding: 3px 4px 2px 4px;
	
	text-decoration: none;
	color: #000;
}
.tabs a.active
{
	/*display: block;*/
	background: #fff;
	padding: 3px 4px 2px 4px;
	
	text-decoration: none;
	color: #000;
	border-bottom-color: #fff;
}

/* ///////// frame 1: Input /////////// */
#frame1 #input
{
	background-color:#eee;
	border: 1px solid #aaa;
	width: 284px;
	height: 384px;
	padding: 8px;
	overflow: auto;
	margin: 0 0 8px 0;
}
#frame1 #input div
{
	margin: 0 0 8px 0;
}
#frame1 #input label
{
	width: 100px;
	display: block;
	float: left;
}
#frame1 #input input[type="text"]
{
	width: 100px;
}
#frame1 #input h3
{
	border-top: solid thin #000;
	margin: 0.5em 0 0.5em 0;
	padding: 0.3em 0 0 0;
}
#frame1 #input h3.first
{
	border-top: none;
	margin: 0 0 0.5em 0;
	padding: 0;
}

/* ///////// frame 2: GCode /////////// */
#frame2 textarea
{
	width: 260px;
	height: 391px;
    margin: 0 0 8px;
    padding: 4px;   
}
/*#frame2 .button
{
	margin: 8px 0 0 0;
}*/
/* ///////// frame 3: Preview/////////// */

#frame3 svg
{
	width: 400px;
	height: 400px;
	/*margin: 0 0 8px 0;*/
	
	border: 1px solid #aaa;
	overflow: hidden;
	background-color:#fff;
}
#frame3 #svgContainer
{
	margin: 0 0 8px 0;
}
#frame3 #boundsDisplay
{
	font-size: 0.9em;
    left: 5px;
    position: absolute;
    top: 405px;
}
/* ///////// footer /////////// */
#footer
{
	text-align: right;
	color: #aaa;
	font-size: 8pt;
}
#footer a
{
	color: #3F83FF;
}
#footer a:hover
{
	color: #225BDE;
}
/* ///////// forms /////////// */
input[type="text"], input[type="password"], input.text, input.title, textarea, select
{
	padding: 2px 4px;
	margin: 0;
}
input[type="checkbox"]
{
	margin: 1px 4px 6px 0;
}
label
{
	font-weight: normal;
	font-size: 1em;
}
p.description
{
	color: #999;
    font-size: 0.9em;
}

/* ///////// ieerror /////////// */
#ieerror
{
	margin-bottom: 10px;
	background-color: #ffa3a3;
	border: 1px #ff5e5b solid;
	padding: 10px; 
	display: none;
}
#ieerror ul
{
	list-style: inside;
}
#ieerror a
{
	color: #0E6161;
}


/* ///////// others /////////// */
#editor , #index, #result
{
	border:thin solid #bbb;
}